In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv('iowa.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,City Name,Population,Website,County Seat,Senate District,House District,U S Congressional,id,URL,Address
0,Ackley,1589,www.ackleyiowa.net,No,"25,27","50,54",4,100022,/ILOC/Contact_Management/PublicOrganizationLay...,"208 State Street\nAckley, IA 50601-1545\nUNITE..."
1,Ackworth,83,,No,13,26,3,100023,/ILOC/Contact_Management/PublicOrganizationLay...,"105 College Street\nAckworth, IA 50001\nUNITED..."
2,Adair,781,,No,10,20,3,100029,/ILOC/Contact_Management/PublicOrganizationLay...,"PO Box 66\nAdair, IA 50002-0066\nUNITED STATES"
3,Adel,3682,www.adeliowa.org,Yes,10,19,3,100034,/ILOC/Contact_Management/PublicOrganizationLay...,"PO Box 248\n301 S 10th Street\nAdel, IA 50003-..."
4,Afton,845,www.aftoniowa.com,No,11,21,3,100053,/ILOC/Contact_Management/PublicOrganizationLay...,"PO Box 199\n115 E Kansas Street\nAfton, IA 508..."

In [3]:
df['Address'].head()

0    208 State Street\nAckley, IA 50601-1545\nUNITE...
1    105 College Street\nAckworth, IA 50001\nUNITED...
2       PO Box 66\nAdair, IA 50002-0066\nUNITED STATES
3    PO Box 248\n301 S 10th Street\nAdel, IA 50003-...
4    PO Box 199\n115 E Kansas Street\nAfton, IA 508...
Name: Address, dtype: object

In [4]:
df = df.rename(columns={'Address':'Address_unformatted'})

In [5]:
df.head()

,City Name,Population,Website,County Seat,Senate District,House District,U S Congressional,id,URL,Address_unformatted
0,Ackley,1589,www.ackleyiowa.net,No,"25,27","50,54",4,100022,/ILOC/Contact_Management/PublicOrganizationLay...,"208 State Street\nAckley, IA 50601-1545\nUNITE..."
1,Ackworth,83,,No,13,26,3,100023,/ILOC/Contact_Management/PublicOrganizationLay...,"105 College Street\nAckworth, IA 50001\nUNITED..."
2,Adair,781,,No,10,20,3,100029,/ILOC/Contact_Management/PublicOrganizationLay...,"PO Box 66\nAdair, IA 50002-0066\nUNITED STATES"
3,Adel,3682,www.adeliowa.org,Yes,10,19,3,100034,/ILOC/Contact_Management/PublicOrganizationLay...,"PO Box 248\n301 S 10th Street\nAdel, IA 50003-..."
4,Afton,845,www.aftoniowa.com,No,11,21,3,100053,/ILOC/Contact_Management/PublicOrganizationLay...,"PO Box 199\n115 E Kansas Street\nAfton, IA 508..."

In [31]:
test = df['Address_unformatted'].str.split('\n', expand=True)
test.head()

,0,1,2,3
0,208 State Street,"Ackley, IA 50601-1545",UNITED STATES,None
1,105 College Street,"Ackworth, IA 50001",UNITED STATES,None
2,PO Box 66,"Adair, IA 50002-0066",UNITED STATES,None
3,PO Box 248,301 S 10th Street,"Adel, IA 50003-0248",UNITED STATES
4,PO Box 199,115 E Kansas Street,"Afton, IA 50830-0199",UNITED STATES

In [32]:
for i, row in test.iterrows():
    if row[3] == None:
        row[3] = row[2]

In [33]:
test

,0,1,2,3
0,208 State Street,"Ackley, IA 50601-1545",UNITED STATES,UNITED STATES
1,105 College Street,"Ackworth, IA 50001",UNITED STATES,UNITED STATES
2,PO Box 66,"Adair, IA 50002-0066",UNITED STATES,UNITED STATES
3,PO Box 248,301 S 10th Street,"Adel, IA 50003-0248",UNITED STATES
4,PO Box 199,115 E Kansas Street,"Afton, IA 50830-0199",UNITED STATES
...,...,...,...,...
939,PO Box 97,"Yale, IA 50277-0097",UNITED STATES,UNITED STATES
940,219 Plum St,"Yetter, IA 51433",UNITED STATES,UNITED STATES
941,PO Box 236,"Yorktown, IA 51656-0236",UNITED STATES,UNITED STATES
942,PO Box 235,"Zearing, IA 50278-0235",UNITED STATES,UNITED STATES
943,PO Box 527,800 Walnut St,"Zwingle, IA 52079-0527",UNITED STATES

In [34]:
for i, row in test.iterrows():
    if row[2] == 'UNITED STATES':
        row[2] = row[1]
    else:
        pass

In [35]:
test

,0,1,2,3
0,208 State Street,"Ackley, IA 50601-1545","Ackley, IA 50601-1545",UNITED STATES
1,105 College Street,"Ackworth, IA 50001","Ackworth, IA 50001",UNITED STATES
2,PO Box 66,"Adair, IA 50002-0066","Adair, IA 50002-0066",UNITED STATES
3,PO Box 248,301 S 10th Street,"Adel, IA 50003-0248",UNITED STATES
4,PO Box 199,115 E Kansas Street,"Afton, IA 50830-0199",UNITED STATES
...,...,...,...,...
939,PO Box 97,"Yale, IA 50277-0097","Yale, IA 50277-0097",UNITED STATES
940,219 Plum St,"Yetter, IA 51433","Yetter, IA 51433",UNITED STATES
941,PO Box 236,"Yorktown, IA 51656-0236","Yorktown, IA 51656-0236",UNITED STATES
942,PO Box 235,"Zearing, IA 50278-0235","Zearing, IA 50278-0235",UNITED STATES
943,PO Box 527,800 Walnut St,"Zwingle, IA 52079-0527",UNITED STATES

In [36]:
for i, row in test.iterrows():
    row[1] = row[0]
    
#     #if re.match('(\d+ \w+ \w+)', row[0]):
#         row[1] = row[0]
# #     else:
# #         pass

In [37]:
test

,0,1,2,3
0,208 State Street,208 State Street,"Ackley, IA 50601-1545",UNITED STATES
1,105 College Street,105 College Street,"Ackworth, IA 50001",UNITED STATES
2,PO Box 66,PO Box 66,"Adair, IA 50002-0066",UNITED STATES
3,PO Box 248,PO Box 248,"Adel, IA 50003-0248",UNITED STATES
4,PO Box 199,PO Box 199,"Afton, IA 50830-0199",UNITED STATES
...,...,...,...,...
939,PO Box 97,PO Box 97,"Yale, IA 50277-0097",UNITED STATES
940,219 Plum St,219 Plum St,"Yetter, IA 51433",UNITED STATES
941,PO Box 236,PO Box 236,"Yorktown, IA 51656-0236",UNITED STATES
942,PO Box 235,PO Box 235,"Zearing, IA 50278-0235",UNITED STATES
943,PO Box 527,PO Box 527,"Zwingle, IA 52079-0527",UNITED STATES

In [38]:
for i, row in test.iterrows():
    if re.match('(\w\w \w+ \d+)', row[0]):
        pass
    else:
        row[0] = ''

In [39]:
test

              0                   1                        2              3
0                  208 State Street    Ackley, IA 50601-1545  UNITED STATES
1                105 College Street       Ackworth, IA 50001  UNITED STATES
2     PO Box 66           PO Box 66     Adair, IA 50002-0066  UNITED STATES
3    PO Box 248          PO Box 248      Adel, IA 50003-0248  UNITED STATES
4    PO Box 199          PO Box 199     Afton, IA 50830-0199  UNITED STATES
..          ...                 ...                      ...            ...
939   PO Box 97           PO Box 97      Yale, IA 50277-0097  UNITED STATES
940                     219 Plum St         Yetter, IA 51433  UNITED STATES
941  PO Box 236          PO Box 236  Yorktown, IA 51656-0236  UNITED STATES
942  PO Box 235          PO Box 235   Zearing, IA 50278-0235  UNITED STATES
943  PO Box 527          PO Box 527   Zwingle, IA 52079-0527  UNITED STATES

[944 rows x 4 columns]

In [40]:
test.to_csv('test.csv')

In [41]:
# Split City State and Zip into 3 separate columns
regex = r'(?P<City>[^,]+)\s*,\s*(?P<State>[^\s]+)\s+(?P<Zip>\S+)'
city_df = test[2].str.extract(regex)
city_df

         City State         Zip
0      Ackley    IA  50601-1545
1    Ackworth    IA       50001
2       Adair    IA  50002-0066
3        Adel    IA  50003-0248
4       Afton    IA  50830-0199
..        ...   ...         ...
939      Yale    IA  50277-0097
940    Yetter    IA       51433
941  Yorktown    IA  51656-0236
942   Zearing    IA  50278-0235
943   Zwingle    IA  52079-0527

[944 rows x 3 columns]

In [42]:
df_new = pd.concat([test, city_df], axis=1)
df_new

,0,1,2,3,City,State,Zip
0,,208 State Street,"Ackley, IA 50601-1545",UNITED STATES,Ackley,IA,50601-1545
1,,105 College Street,"Ackworth, IA 50001",UNITED STATES,Ackworth,IA,50001
2,PO Box 66,PO Box 66,"Adair, IA 50002-0066",UNITED STATES,Adair,IA,50002-0066
3,PO Box 248,PO Box 248,"Adel, IA 50003-0248",UNITED STATES,Adel,IA,50003-0248
4,PO Box 199,PO Box 199,"Afton, IA 50830-0199",UNITED STATES,Afton,IA,50830-0199
...,...,...,...,...,...,...,...
939,PO Box 97,PO Box 97,"Yale, IA 50277-0097",UNITED STATES,Yale,IA,50277-0097
940,,219 Plum St,"Yetter, IA 51433",UNITED STATES,Yetter,IA,51433
941,PO Box 236,PO Box 236,"Yorktown, IA 51656-0236",UNITED STATES,Yorktown,IA,51656-0236
942,PO Box 235,PO Box 235,"Zearing, IA 50278-0235",UNITED STATES,Zearing,IA,50278-0235
943,PO Box 527,PO Box 527,"Zwingle, IA 52079-0527",UNITED STATES,Zwingle,IA,52079-0527

In [43]:
df_new = df_new.drop(0, axis=1)

In [44]:
columns = ['Address', 'Old', 'Country', 'City', 'State', 'Zip']

In [45]:
df_new.columns = columns

In [46]:
df_new

,Address,Old,Country,City,State,Zip
0,208 State Street,"Ackley, IA 50601-1545",UNITED STATES,Ackley,IA,50601-1545
1,105 College Street,"Ackworth, IA 50001",UNITED STATES,Ackworth,IA,50001
2,PO Box 66,"Adair, IA 50002-0066",UNITED STATES,Adair,IA,50002-0066
3,PO Box 248,"Adel, IA 50003-0248",UNITED STATES,Adel,IA,50003-0248
4,PO Box 199,"Afton, IA 50830-0199",UNITED STATES,Afton,IA,50830-0199
...,...,...,...,...,...,...
939,PO Box 97,"Yale, IA 50277-0097",UNITED STATES,Yale,IA,50277-0097
940,219 Plum St,"Yetter, IA 51433",UNITED STATES,Yetter,IA,51433
941,PO Box 236,"Yorktown, IA 51656-0236",UNITED STATES,Yorktown,IA,51656-0236
942,PO Box 235,"Zearing, IA 50278-0235",UNITED STATES,Zearing,IA,50278-0235
943,PO Box 527,"Zwingle, IA 52079-0527",UNITED STATES,Zwingle,IA,52079-0527

In [47]:
df_final = pd.concat([df_new, df], axis=1)

In [49]:
new_cols = ['City Name', 'Address', 'City', 'Zip']

In [50]:
sample_df = df_final[new_cols].head(100)

In [51]:
final_df = df_final[new_cols]

In [52]:
sample_df.to_excel('sample_iowa_city_info.xlsx')

In [53]:
final_df.to_excel('iowa_city_info.xlsx')